#screen{
    width: 100%;
    height: 97.6vh;
}

#book{
    width: 450px;
    height: 300px;
    object-fit: contain;
    transition: all 0.3s;
}

#image{
    left: 52.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 48.5%;
    height: 70%;
    object-fit: contain;
    position: absolute;
}

#modal-image{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

#modal-open{
    background: transparent;
    border: none;
    transition: all 0.3s;
    width: 450px;
    height: 300px;
}

#container{
    width: 400px;
    height: 266px;
    pointer-events: none;
    transition: all 0.3s;
}

.hover{
    left: 51.25% !important;
    top: 51.25% !important;
    transform: scale(1.05, 1.05) translateX(-51.25%) translateY(-51.25%) !important;
}

.book-shadow{
    box-shadow: 0px 0px 20px 4px black !important;
    background-color: rgba(0, 0, 0, 0.64) !important;
}

.m-row{
    width: 50%;
    height: fit-content;
    word-wrap: break-word;
    margin-top: 6px;
    font-family: 'Black And White Picture', sans-serif;
}

.pos-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-color: #171717;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    user-select: none;
    overflow: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}